<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organisational Profile </title>
    <style>
        body {
            background-color: orange;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: white;
        }

        header {
            background-color: #FFA500; /* Orange */
            padding: 1rem;
            text-align: center;
        }

        h1 {
            margin: 0;
        }

        .dashboard-container {
            max-width: 800px;
            margin: 2rem auto;
            padding: 1rem;
            background-color: #FFF; /* White */
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #donation-pie-chart {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
    <header>
        <h1>Your Organization Organizational Profile</h1>
    </header>

    <div class="dashboard-container">
        
        <div id="donation-pie-chart"></div>

        
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
       
    </script>
</body>
</html>
